UNSTRUCTURED_API_KEY=get_your_key 
UNSTRUCTURED_URL=https://api.unstructuredapp.io/general/v0/general
EMBEDDING_MODEL=all-MiniLM-L6-v2
CB_CONN_STR = ""
CB_USERNAME = ""
CB_PASSWORD = ""
CB_BUCKET = ""
CB_SCOPE = ""
CB_COLLECTION = ""
INDEX_NAME = ""
BOOKS_PATH = "path/to/books"
LOCAL_FILE_DOWNLOAD_DIR = "local/path/to/download"


